*{
    margin: 0;
    padding: 0;
}

/* Font Embedded */
.mulish{
    font-family: "Mulish", sans-serif;
  }

/* Shared Items */
.display-flex{
    display: flex;
}

.bars{
    display: none;
}

  /* Banner Styles */
  .banner-container{
    max-width: 1200px;
    margin: 3rem auto;
    margin-bottom: 100px;
 }

.brand-heading{
    align-items: center;
    gap: 15px;
}
.brand-logo{
    max-width: 22px;
    height: 20px;
}


.brand-heading h1{
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(19, 19, 24);
}

.nav-bar{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

}

.lists{
    gap:40px;
}

nav > ul{
    list-style: none;
}

nav > ul a{
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-family: Mulish;
    font-size: 1.2rem;
    font-weight: 400;
}

.travel{
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(255, 84, 0);
}

#home{
    color: rgb(255, 84, 0);
    font-family: Mulish;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Banner Images Styles */
.banner-image-container{
    max-width: 1170px;
    margin: 0 auto;
    background:linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url(../Images/banner.png);
    padding: 7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.explore-container h1{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;

}

.explore-container p{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom:48px;
    max-width: 676px;
}

.input-container{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 16px;
    gap: 24px;
    align-items: center;
}

.input-container input{
    border: none;
    max-width: 174px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 16px;
    color: rgba(19, 19, 24, 0.5);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
} 
.input-container select{
    border: none;
    max-width: 174px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 16px;
    color: rgba(19, 19, 24, 0.5);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;

}

input, select{
    width: 100%;
}

.btn-primary{
    max-width: 174px;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px;
    border: 1px solid rgb(255, 84, 0);

}
.btn-primary{
    width: 100%;
}


/* Popular Tours Container */
.popular-tours-container{
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.popular-tours-text-container{
    max-width: 577px;
}

.popular-tours-text-container h1{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 2.8rem;
font-weight: 800;
}

.popular-tours-text-container p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
}
article > ul{
    list-style:disc;
    list-style-position: inside;
    margin-left: 5px;
    padding-left: 5px;
}

.btn-second{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
    padding:14px;
    border: 1px solid rgb(255, 84, 0);
    max-width: 174px;
    width: 100%;
}

/*Choose Your Destination Container Styles */
.choose-destination-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.choose-destination-text-container{
    margin-bottom: 24px;
}

.choose-destination-text-container h1{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    margin-bottom: 24px;
}

.choose-destination-text-container p{
    color: rgba(19, 19, 24, 0.7);
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
text-align: center;
}

.row1-image-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 24px;
}
.choose-destination-container img{
    width: 100%;
    height: 300px;
    background-color: rgba(19, 19, 24, 0.2);
    border-radius: 16px;
}

.country-card{
    position: relative;
}

.country-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 1.8rem;
    font-weight: 800;
}

.row2-image-container{
    display: grid;
    grid-template-columns: 0.65fr 0.82fr 0.47fr;
    gap: 24px;
    margin-bottom: 24px;
}

.row3-image-container{
    display: grid;
    grid-template-columns: 0.82fr 1.17fr;
    gap: 24px;
}

/* Why Choose us container */
.why-choose-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.why-choose-text-container{
    margin-bottom: 48px;
}
.why-choose-text-container h1{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
}

.why-choose-text-container p{
    color: rgba(19, 19, 24, 0.7);
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-top: 24px;
}

.row1-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 24px;
}

.row2-box-container{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.row1-box1{
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
   padding: 32px 55px 32px 32px;
}
.row1-box2{
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    padding: 32px 55px 32px 32px;
    background: rgba(41, 206, 246, 0.05);
}

.row2-box1{
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    padding: 32px 55px 32px 32px;
    background: rgba(233, 68, 68, 0.05);
}

.hotel-image, .map-image{
    max-width: 40px;
    height: 40px;
}

.row1-box-container img{
    width: 100%;
}
.price-image{
    max-width: 40px;
    height: 40px;  
}

.price-image img{
    width: 100%;
}

.row1-box-container h3{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 30px;
    margin:16px 0;
}

.row1-box-container p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.row2-box-container h3{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 30px;
    margin:16px 0;
}
.row2-box-container p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* Deals and Discount Container Style Starts here */
.deals-discount-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}
.deals-discount-text-container{
    margin-bottom: 48px;
}
.deals-discount-text-container h1{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
}
.deals-discount-text-container p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
}


.discount-box-head p{
    color: rgb(90, 90, 93);
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
}

.discount-container1{
    max-width: 1170px;
    background-image: url(../Images/deals.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:16px;
    padding: 56px 56px 56px 535px;
    margin-bottom: 24px;
}

.discount-box{
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    max-width: 579px;
    padding: 50px 77px 50px 50px;


}

.discount-box-head{
    gap: 24px;
    margin-bottom: 24px;
}
.discount-box h3{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 1.5rem;
font-weight: 800;
line-height: 30px;
margin-bottom: 16px;
}
.discount-box p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 16px;

}

.discount-box h4{
    color: rgb(255, 84, 0);
font-family: Mulish;
font-size: 1.25rem;
font-weight: 800;
line-height: 25px;
margin-bottom: 24px;
}

.btn-third{
    border-radius: 8px;
background: rgb(255, 84, 0);
color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 1.25rem;
font-weight: 800;
padding: 14px 25px;
border: none;
}

.discount-container2{
    max-width: 1170px;
    background-image: url(../Images/discount.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:16px;
    padding: 56px 535px 56px 56px;
    margin-bottom: 24px;
}

.discount-container1{
    max-width: 1170px;
    background-image: url(../Images/deals.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:16px;
    padding: 56px 56px 56px 535px;
    margin-bottom: 48px;
}

.btn-fourth{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 25px;
    padding: 14px 22px;
    border: 1px solid rgb(255, 84, 0);

}

.button-container{
    justify-content: center;
}

/* perfect-place-container styles*/
.perfect-place-container{
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.perfect-place-text h1{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 60px;  
    margin-bottom: 24px;
}

.perfect-place-text p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400; 
    margin-bottom: 24px; 
}

.perfect-place-text ul{
    padding: 18px;
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
}

.btn-fifth{
    border-radius: 8px;
background: rgb(255, 84, 0);
color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 1.25rem;
font-weight: 800;
padding: 14px 42px;
border: 1px solid rgb(255, 84, 0);
}

.perfect-place-image-container{
    max-width: 610px;
    position: relative;
}
.perfect-place-image-container img{
    width: 100%;
}

.perfect-place-image-container .image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.left{
    gap: 42px;
    position: absolute;
    top: 80%;
    left: 5%;
    color: white;
}

.right{
    gap: 42px;
    position: absolute;
    top: 80%;
    left: 75%;
    color: white;
}

/* Form Container styles Starts here */
.form-container{
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.82fr 1.17fr;
    gap: 24px;
}

.form-text{
    max-width: 474px;
    padding: 40px;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
}

.form-text h3{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 16px;
}

.form-text p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 16px;
}



.form-text input{
    max-width: 393px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.3);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
    border: none;
    margin-bottom: 16px;
    padding: 16px 251px 16px 20px;
    box-sizing: border-box;

}

.form-text form{
    border-top: 1px solid rgba(19, 19, 24, 0.1);
    

}

.btn-sixth{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 25px;
    padding: 14px 150px;
    border: none;
    box-sizing: border-box;
}

.btn-seventh{
    border-radius: 16px;
    background: rgb(255, 84, 0);
    padding: 35px 45px;
    border: none;
   
}
.btn-seventh h3{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
}

.btn-seventh p{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 30px;
    
}

.form-image{
    position: relative;
    max-width: 672px;
}
.form-image img{
    width: 100%;
}

.btn{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: rotate(-25deg);
    
}





/* Responsive Layout */
@media screen and (max-width:576px) {
.links{
    display: none;
}

.bars{
    display: block;
    font-size: 26px;
}

.banner-container{
    width: 100%;
    margin: 3rem auto;
    width: 75%;
}

.banner-image-container{
    padding: 4rem;
    border-radius: 20px;

}
.explore-container h1{
    font-size: 26px;
}

.explore-container p{
    width: 100%;
}

.input-container{
    flex-direction: column;
    padding:16px;
}
.input-container input{
    max-width: 255px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}
.input-container select,
.input-container button{
   max-width: 255px;
   width: 100%;
   box-sizing: border-box;
} 

.popular-tours-container,
.perfect-place-container{
    flex-direction: column;
}

.popular-tours-text-container p{
    margin-left: 4rem;
    width: 80%;
}

.btn-second{
    margin-bottom: 30px;
    margin-left: 4rem;
}

.popular-tours-container{
    margin: 3rem auto;
}

.popular-tours-text-container h1{
    margin-left: 4rem;
}

article > ul{
    margin-left: 4rem;
}
.popular-tours-image-container img{
    margin-left: 4rem;
    max-width: 540px;
    width: 80%;
}

.row1-image-container,
.row2-image-container,
.row3-image-container{
    grid-template-columns: 1fr;
}
/* Choose Destination */
.choose-destination-container img{
    width: 90%;
    height: 176px;
    border-radius: 16px;
    margin-left:25px;
}
.why-choose-text-container p{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 24px;

}

.row1-box-container{
    grid-template-columns: 1fr;
    margin-left: 20px;
}

.row2-box-container{
    grid-template-columns: 1fr;
    margin-left: 20px;
}

/* Deals and Discount */
.discount-container1,
.discount-container2{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 187px 16px 16px 16px;
}

/* .discount-container2{
    width: 90%;
    margin: 0 auto;
    padding: 187px 16px 16px 16px;
    margin-bottom: 16px;
} */

.discount-box{
    padding: 24px 24px 24px 24px;
    width: 370px;
    margin: 0 auto; 
}

/* Perfect place */
.perfect-place-image-container img{
    width: 95%;
    margin-left: 15px;
}
.btn-fifth{
    margin-bottom: 24px;
}

.perfect-place-text{
    margin-left: 15px;
}

/* Form Container */

.form-container{
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 0 auto;
}

.form-text{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 42px 24px 24px;
}
.form-image{
    max-width: 465px;
    margin: 0 auto;
}
.form-image img{
    width: 100%;
}

.btn-seventh{
    padding:5px 50px 5px 15px;
   
}
.btn-seventh h3{
    font-size: 1.25rem;
    text-align: center;
}

.btn-seventh p{
    font-size: 0.9rem;
    text-align: center;

    
}

.form-image{
    position: relative;
}

.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-25deg);
    
}

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner-container{
        width: 100%;
        margin: 3rem auto;
        width: 75%;
    }
    .links{
        display: none;
    }
    
    .bars{
        display: block;
        font-size: 26px;
    }
    .explore-container h1{
        font-size: 3rem;
    }

    .banner-image-container{
        border-radius: 20px;
    }
    .input-container{
        flex-direction: column;
        padding:16px;
    }
    .explore-container h1{
        font-size: 26px;
    }
    
    .explore-container p{
        width: 100%;
    }
    
    .input-container{
        flex-direction: column;
        padding:16px;
    }
    .input-container input{
        max-width: 230px;
        padding: 16px;
        width: 100%;
    }
    .input-container select,
    .input-container button{
       max-width: 255px;
       width: 100%;
    }  
}
